---
permalink: /photos/
---


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <title>Photos By TsingXu</title>
        <meta name="author" content="Xu Tsing" />
        <meta name="description" content="About" />
        <meta content="https://tsingxu430.github.io/TsingXu/static/img/logo-high-resolution.png" property="og:image">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

        <!-- FontAwesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">

        <!-- Core BootStrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Material Design CSS -->
        <link rel="stylesheet" href="https://tsingxu430.github.io/TsingXu/static/css/bootstrap-material-design.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="https://tsingxu430.github.io/TsingXu/static/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="https://tsingxu430.github.io/TsingXu/static/css/thickbox.css">
        <link rel="stylesheet" href="https://tsingxu430.github.io/TsingXu/static/css/main.css">
        <link rel="stylesheet" href="https://tsingxu430.github.io/TsingXu/static/css/projects.css">
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72862926-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body class="home overflow-hidden">

<div class="container main outer">
	<div class="row">
		<div class="col-md-9 col-xs-12 full">
		<div class="well">
			<div>
				<blockquote>
				  <font face="微软雅黑">喜欢的歌手：五月天、林俊杰、王力宏、 Owl city、Lenka</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">喜欢做的事：看电影、阅读</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">喜欢的网站：图虫网、蚂蜂窝、豆瓣</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">想要去做的事：学好前端、学好摄影、各地旅行、写好博客</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">去过的地方：湖州（美丽的家乡）、杭州、苏州、南京、乌镇、西塘、上海、横店、舟山、安徽黄山</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">看过的书和电影：&lt;https://www.douban.com/people/127698022/&gt;</font>
				</blockquote>

				<blockquote>
				  <font face="微软雅黑">学过的编程语言：C、C++、PHP、HTML、CSS、JS</font>
				</blockquote>
		    </div>
		</div>
		</div> <!-- end /.col-md-9 -->
	</div> <!-- end /.row -->
</div> <!-- end /.container -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="https://tsingxu430.github.io/TsingXu/static/js/thickbox-compressed.js"></script>
        <script src="https://tsingxu430.github.io/TsingXu/static/js/material.min.js"></script>
        <script src="https://tsingxu430.github.io/TsingXu/static/js/main.js"></script>
        <script src="https://tsingxu430.github.io/TsingXu/static/js/projects.js"></script>
</body>
</html>